*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
[class*="col-"] {
    background-color: #006cfa;
    color: #fff;
    min-height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #fff;
    padding: 5px;
  }
.green{
    background-color: #00e165;
  }
  .plus-height{
    height: 100px;
  }
  .min-height{
      height: 50px;
  }